<div class="container">

  <h1 class='title'>This month at the <span class="cc-title">Century Cineplex</span> ...</h1>

  <p class="howabout">Here's a film from <span class="feature-word">{{country}}</span>, matching the genre <span class="feature-word">'{{genre}}'</span>{{#if randomFilm.plot}}, that also has a plot summary{{/if}}:</p>

  <div class="filminfo-wrapper">
    <div class="singlefilminfo">
      <table>
        <tr>
          <td class="film-parameter"><strong>Title:</strong></td>
          <td>{{randomFilm.title}}</td>
        </tr>
        <tr>
          <td class="film-parameter"><strong>Country:</strong></td>
          <td>{{randomFilm.countries}}</td>
        </tr>
        {{#if randomFilm.director}}
          <tr>
            <td class="film-parameter"><strong>Director(s):</strong></td>
            <td>{{randomFilm.director}}</td>
          </tr>
        {{/if}}
        {{#if randomFilm.writers}}
        <tr>
          <td class="film-parameter"><strong>Writer(s):</strong></td>
          <td>{{randomFilm.writers}}</td>
        </tr>
        {{/if}}
        {{#if randomFilm.actors}}
          <tr>
            <td class="film-parameter"><strong>Actors:</strong></td>
            <td>{{randomFilm.actors}}</td>
          </tr>
        {{/if}}
        <tr>
          <td class="film-parameter"><strong>Genre(s):</strong></td>
          <td>{{randomFilm.genres}}</td>
        </tr>
        {{#if randomFilm.runtime}}
          <tr>
            <td class="film-parameter"><strong>Runtime:</strong></td>
            <td>{{randomFilm.runtime}} minutes</td>
          </tr>
        {{/if}}
        {{#if randomFilm.plot}}
          <tr>
            <td class="film-parameter"><strong>Plot summary:</strong></td>
            <td>{{randomFilm.plot}}</td>
          </tr>
        {{/if}}
      </table>
    </div>
    <div class="poster">
      {{#if randomFilm.posterURL}}
        <img src={{randomFilm.posterURL}} alt="Film poster for {{randomFilm.title}}" class="film-poster"/>
      {{else}}
        <img src="../images/noposter02_text2.png" alt="Decayed film frames - no poster available" class="noposter" />
      {{/if}}
    </div>
  </div>

  <p>
    <a href="/">home</a> | <a href="/search">back to search page</a>
  </p>

</div>
