<p>Search the films of {{month}}, {{year}}.</p>

<form class="" action="/filmresult" method="get">
  <p>
    Country:
    <select class="countries" name="country">
      {{#each countryList}}
        <option value={{this}} {{selected this ../selectedState}}>{{this}}</option>
      {{/each}}
    </select>
  </p>
  <p>
    Genre:
    <select class="genre" name="genre">
      <option value="action">action</option>
      <option value="adventure">adventure</option>
      <option value="animation">animation</option>
      <option value="biography">biography</option>
      <option value="comedy">comedy</option>
      <option value="crime">crime</option>
      <option value="drama">drama</option>
      <option value="history">history</option>
      <option value="horror">horror</option>
      <option value="mystery">mystery</option>
      <option value="news">news</option>
      <option value="romance">romance</option>
      <option value="short">short</option>
      <option value="thriller">thriller</option>
      <option value="war">war</option>
      <option value="western">western</option>
      <option value="nogenre">no genre listed</option>
    </select>
  </p>
  <p>
    Only films with a plot summary, please
    <input type="checkbox" id="plot" name="plot">
  </p>
  <button type="submit">Find me a film!</button>
</form>

<p>
  <a href="/">home</a>
</p>
