<div class="container">

  <h1 class='title'>Welcome to the <span class="cc-title">Century Cineplex</span>.</h1>

  <p class="howabout">Search the films of <span class="feature-word">{{month}}, {{year}}</span>.</p>

  <form class="" action="/filmresult" method="get">
    <p>
      <span class="label">Country:</span>
      <select class="countries" name="country">
        {{#each countryList}}
          <option value={{this}} {{selected this ../selectedState}}>{{this}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      <span class="label">Genre:</span>
      <select class="genre" name="genre">
        {{#each genres}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      Only films with a plot summary, please
      <input type="checkbox" id="plot" name="plot">
    </p>
    <button type="submit" name='submission' value='singlefilm'>Find me a film!</button>
    <button type="submit" name='submission' value='filmlist'>Give me a list of matches</button>
  </form>

  <p class="footer">
    <a href="/">home</a>
  </p>

</div>
