<div class="container">

  <h1 class='title'>This month at the Century Cineplex ...</h1>

  <p>Here's a film from {{country}}, matching the genre '{{genre}}'{{#if plot}}, that has a plot summary{{/if}}:</p>

  <div class="">
    <div class="singlefilminfo">
      <table>
        <tr>
          <td><strong>Title:</strong></td>
          <td>{{randomFilm.title}}</td>
        </tr>
        <tr>
          <td><strong>Country:</strong></td>
          <td>{{randomFilm.countries}}</td>
        </tr>
        {{#if randomFilm.director}}
          <tr>
            <td><strong>Director(s):</strong></td>
            <td>{{randomFilm.director}}</td>
          </tr>
        {{/if}}
        {{#if randomFilm.writers}}
        <tr>
          <td><strong>Writer(s):</strong></td>
          <td>{{randomFilm.writers}}</td>
        </tr>
        {{/if}}
        {{#if randomFilm.actors}}
          <tr>
            <td><strong>Actors:</strong></td>
            <td>{{randomFilm.actors}}</td>
          </tr>
        {{/if}}
        <tr>
          <td><strong>Genre(s):</strong></td>
          <td>{{randomFilm.genres}}</td>
        </tr>
        {{#if randomFilm.runtime}}
          <tr>
            <td><strong>Runtime:</strong></td>
            <td>{{randomFilm.runtime}} minutes</td>
          </tr>
        {{/if}}
        {{#if randomFilm.plot}}
          <tr>
            <td><strong>Plot summary:</strong></td>
            <td>{{randomFilm.plot}}</td>
          </tr>
        {{/if}}
      </table>
    </div>
    <div class="poster">
      {{#if randomFilm.posterURL}}
        <img src={{randomFilm.posterURL}} alt="Film poster for {{randomFilm.title}}" class="film-poster"/>
      {{else}}
        <img src="images/noposteravailable.jpg" alt="Decayed film frames - no poster available" class="noposter" />
      {{/if}}
    </div>
  </div>

  <p>
    <a href="/">home</a> | <a href="/search">back to search page</a>
  </p>

</div>
